/* reset */
/* imports */

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


/* variaveis */
:root{
    --cAzul: #1872BB;
    --cAzulClaro: #09b3fe;
    --cvermelho: #B31942;
    --ctxtprincipal:#EEF3F6;
    --ctxsecundario:#cad3da;
    --fpradrao: sans-seif;
    --fmontserrat: "Montserrat", serif;

}

*{margin: 0; padding: 0; box-sizing: border-box; font-family: var(--fmontserrat);}

h1{font-size: 48px; line-height: 120%;}
h2{font-size: 28px; line-height: 120%;}
p{font-size: 18px; line-height: 130%;}

/* fim reset */

/* utilities */

.fit{width: fit-content;}
.glss{
    background: rgba(255, 255, 255, 0.1);backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 5px;
}
.overlay{
    width: 100%;
    height: 100%;
    padding: 5px;
    background: rgb(0,0,0);
    background: linear-gradient(90deg, rgba(0,0,0,0.8) 0%, rgba(0,0,0,0) 100%);
    display: flex;
    align-items: center;
}

.txtgradiente {
        background: linear-gradient(93deg, var(--cAzul) -3.56%, var(--cAzulClaro) 47.88%, var(--cvermelho) 80.33%);
               -webkit-background-clip: text; 
               -webkit-text-fill-color: transparent; 
               background-clip: text; 
               text-fill-color: transparent;
               box-decoration-break: clone;
               -webkit-box-decoration-break: clone;
}

.brilox{
    background-image: linear-gradient(-45deg, var(--cAzulClaro), var(--ctxtprincipal), var(--cAzulClaro), var(--ctxtprincipal)); /*mude as cores do degradê do botão aqui*/
  background-size: 400% 100%;
   background-clip: text;
   -webkit-background-clip: text;
   color: transparent !important;
   -webkit-text-fill-color: transparent;
   transition: all .8s;
   
    animation: 3.4s linear infinite brilhox;
   
}



@keyframes brilhox{
   0% {
       background-position: 0 0;
   }  

   100% {
       background-position: 100% 0;
   }
}

.balance{text-wrap: balance;}
.fw-600{font-weight: 600;}

/* fim utilities */

.banner{
    width: 100%; 
    height: 95vh; 
    background: url('../img/banner.jpg') no-repeat center; 
    background-size: cover; 
   
    
}

.cont-banner{
    width: 50%;
    height: 100%;
    padding: 50px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    
    
}
.cont-banner img{
    max-width: 90px;
}
.cont-banner h1{
    color:var(--ctxtprincipal);
    max-width: 500px;
    position: relative;
    margin: 16px 0px;
    font-weight: 400;
   
   
}
.cont-banner-headline-deco{
    display: inline-block;
    font-size: 13px;
    font-weight: 600;
    font-style: italic;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    position: absolute;
    top: 90px;
    right: 30px;
    color: var(--ctxtprincipal);
    
}
.cont-banner p{
    font-size: 24px;
    max-width: 470px;
    font-weight: 400;
    color:var(--ctxsecundario);
   
}
.cont-banner-subheadline-deco{
    color:var(--ctxtprincipal);
    font-weight: 500;
    text-decoration: underline;
    font-style: italic;
    font-size: 20px;
}



/* marqueee */
.content {
    color:#fff;
    text-align: center;
    font-family: "Inter"!important;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 120%;
    letter-spacing: 1px;
    text-transform: uppercase;
    }
    
    
    .outer {
        background-color: rebeccapurple;
        padding: 10px 0px 0px 0px;
        overflow: hidden;
    }
    
    .outer div {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .loop {
        white-space: nowrap;
        animation: loop-anim 50s linear infinite;
        /* Mude a velocidade da animação aqui */
    }
    
    
    
    @keyframes loop-anim {
        0% {
            margin-left: 0;
        }
        100% {
            margin-left: -50%;
        }
    }